<div class="col-lg-6 col-lg-offset-3">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-danger" *ngIf="status == 'error'">
       No se proceso la petcion, revisa tus datos e intenta de nuevo
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Nueva Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                El nombre es obligarorio!!
            </span>
        </p>
        <p>
            <label>Token</label>
            <input type="token" name="token" #token="ngModel" [(ngModel)]="user.token" class="form-control" required/>
            <span *ngIf="!token.valid && token.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />

    </form>
</div>

