<div class="col-lg-6 col-lg-offset-3">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente, <a [routerLink]="['/login']">Identificate aqui.</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no ha podido completarse, revisa tus datos e intenta de nuevo
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligarorio!!
            </span>
        </p>
        <p>
            <label>Apellido</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
                El Apellido es obligarorio!!
            </span>
        </p>

        <p>
            <label>Correo</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <p>
            <label>Token</label>
            <input type="token" name="token" #token="ngModel" [(ngModel)]="user.token" class="form-control" required/>
            <span *ngIf="!token.valid && token.touched">
                El token es obligarorio!!
            </span>
        </p>

        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                La Contraseña es obligarorio!!
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />

    </form>
</div>

