<div class="col-lg-6 col-lg-offset-3">
    <div class="col-lg-8 col-lg-offset-2" style="text-align: center;" *ngIf="identity===null">
      <h1>Bienvenido al curso de k8s</h1>
    </div>
    <div class="col-lg-8 col-lg-offset-2" id="imgediv" *ngIf="identity===null">
      <img src="assets/logo/Logokub.png" alt="k8s">
    </div>
    <all-users></all-users>
</div>




