/*Header*/
.btn-success{
    background-color: #2f6ce6 !important;
}
.navigation {
    padding: 0px !important;
}

.navigation .navbar{
    border-radius: 0px !important;
    background: #2f6ce6   !important;
    border: none;
}

.navigation .navbar a:hover{
    background: #2f6ce6   !important;
    /* border-bottom: 3px solid yellow !important; */
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background: #2f6ce6 !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {

    margin-left: -15px;
    padding-top: 0px;

}

.navbar-brand > img {
    display: block;
    height: 79px;
    width: 94px;

}

.navigation .navbar .dropdown-menu a:hover {
    background: #eee !important;
}

.navigation .navbar *{
    color: white !important;
}

/*Generales*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active{
    background: #2f6ce6;
}

.pointer{
    cursor: pointer;
}

.navigation .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.navigation .avatar img{
    height: auto;
    width: 35px;
}

.jumbotron{
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    opacity: 10% !important;
}


.avatarUp{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 3px solid #17202A;
}

.avatarUp img{
    height: auto;
    width: 200px;
}

/*GENTE*/

.people{
    min-height: 500px;
}

.item-user .image-user,
.item-publication .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.item-user .image-user img,
.item-publication .image-user img{
    width: 100%;
}

.item-user .user-name,
.item-publication .user-name{
    margin-top: 10px;
    font-size: 20px;
    margin-top: 10px !important;
}

.item-user .nickname{
    color: #969393;
}

.item-user .user-name .name-surname a{

    font-weight: bold;
}

.publication-text{
    text-align: justify;
}

/*nuevo css*/
/* Targeta de usuario y publicaicones  */

/* Sidebar */
.sidebar-32{
    width: 32% !important;
    padding: 0px !important;
}

/* #user-card, #new-publication{
    padding: 25px;
    width: 32%;
}*/

#new-publication{
    padding: 18px;
    padding-left: 8px;
    margin-top: 20px;
}

#new-publication .publi{
    width: 100%;
}

#user-card .avatar{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
}

#user-card .avatar img{
    width: 100%;
}

#user-card .name-surname{
    font-weight: 300;
    font-size: 17px;
}

#user-card .name-surname a{
    color: #555;
}

#user-card .name-surname .nickname{
    color: #969393;
}

.label-stats,
.number-stats{
    display: block;
    text-align: center;
    transition: all 300ms;
}

.stats{
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.stats a:hover{
    text-decoration: none;
}

.stats a:hover .number-stats{
    color: #cc1717;
}


.label-stats{
    font-weight: bold;
    color: #555;
}

.number-stats{
    font-weight: bold;
    color: green;
}

.following-data{
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #eee;
}

.following-data:first-child{
    padding-left: 6px;
}

.following-data:last-child{
    border: none;
}

.abaut textarea.form-control{
    height: 178px;
    width: 120%;
    margin-top: 10px;
}

input#imagen{
    color: transparent;
  }

 

/* Responsive */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    /* NOMNRES DE EMPRESAS EN PUBLICACIONES */
    .item-publication .user-name{
        font-size: 15px;
    }

    #data-profile{
        min-height: 200px !important;
    }

    #data-profile .avatar{
        width: 80px !important;
        height: 80px !important;
        border-radius: 100px !important;
        margin-left: 35%;
    }

    #data-profile .user-name .info .name{
        font-size: 15px !important;
        text-align: center !important;
    }

    #data-profile .user-name .info .nick{
        font-size: 15px !important;
       text-align: center !important;
    }

    /* Perfil publico */
    #data-profile-pub .avatar{
        width: 80px !important;
        height: 80px !important;
        border-radius: 100px !important;
        margin-left: 35%;
    }

    #data-profile-pub .user-name .info-pub .name{
        font-size: 15px !important;
        text-align: center !important;
        align-items: center !important;
    }

    #data-profile-pub .user-name .info-pub .nick{
        font-size: 15px !important;
       text-align: center !important;
    }

    #data-profile-pub .user-name {
        margin-top: 15px;
        text-align: center;
        padding-left: 70px;
    }
     /* Perfil publico */

    #data-profile .stats a{
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: center !important;
    }

    .following-data{
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-top: 2% !important;
        margin-bottom: 5px !important;
        margin-left: 27px !important;
    }

    .stats{
        margin-top: 10px !important;
        /* margin-left: 7px !important; */
        text-align: center !important;
    }

    .abaut textarea.form-control{
        height: 111px;
        width: 170%;
        margin-top: 0px;
        margin-left: -9%;
    }
    .publi .btn-success{
        margin-top: -34px;
        margin-top: -13px;
        height: 27px;
        padding-top: 3px;
      }

    .img-publi img{
        width: 115% !important;
        margin-left: -23px !important;
        margin-top: 10px !important;
    }



    /* VISTAS  */
    .visitas h4 {
        padding-top: 3px !important;
        font-size: 15px !important;
    }

    /* BTON BUSCAR EMNPRESA HOME */
    .homebutton .principal .btn-group-lg > .btn, .btn-lg {
        font-size: 10px !important;
    }

    /* TEXTOS CARRUSEL */

    .carousel-caption h3{
        font-size: 15px !important;
    }
    .carousel-caption {
        font-size: 10px !important;
    }


    /* EMPRESAS */
    .item-user .user-name .name-surname a {
        font-size: 15px !important;
    }
    .item-user .nickname {
        font-size: 14px !important;
    }

    
}
/* Fin responsive */


/*TImeline */

#publications{
    min-height: 500px;
}

#publications .date{
    color: gray;
}
/*Fin*/

/* div de busqueda de compania*/
.search{
    margin-bottom: 75px;
}

/*Fin*/

/*PERFILES*/

#data-profile{
    min-height: 500px;
    text-align: left;
}

#data-profile .avatar{
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px;
    /* margin: 0px auto; */

}

#data-profile .avatar img{
    width: 100%;
}

#data-profile .user-name{
    margin-top: 15px;
}

#data-profile .user-name .label{
    margin-bottom: 15px;
}

#data-profile .user-name .name{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

#data-profile .user-name .nick{
    font-size: 24px;
    font-weight: normal;
    color: gray;
}


#data-profile .stats a{
    font-size: 20px;
    line-height: 35px;
    color: #555;
}

#data-profile .publications{
    margin-top: 40px;
}


/* PUBLICO */
#data-profile-pub{
    min-height: 500px;
    text-align: left;
}

#data-profile-pub .avatar{
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px;
    /* margin: 0px auto; */

}

#data-profile-pub .avatar img{
    width: 100%;
}

#data-profile-pub .user-name{
    margin-top: 15px;
}

#data-profile-pub .user-name .label{
    margin-bottom: 15px;
}

#data-profile-pub .user-name .name{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

#data-profile-pub .user-name .nick{
    font-size: 24px;
    font-weight: normal;
    color: gray;
}


#data-profile-pub .stats a{
    font-size: 20px;
    line-height: 35px;
    color: #555;
}

#data-profile-pub .publications{
    margin-top: 40px;
}
/* PUBLICO */

/* MApa */
.mapa{
    margin-top: 20px;
    margin-top: 1px;
}

agm-map{
    /* min-height: 500px; */
    height: 200px;
    width: 100%;
    
}

/* Iconos de busqueda  */

.form-group.has-feedback i{
    margin-right: 10px
}


/* REDES E INFO */
.redes img{
    width: 40px;
    height: 40px;
}

.adress-tel img{
    width: 40px;
    height: 40px;
}


/* Carrucel */
.slide{
    margin-bottom: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    font-size: 20px;
}


/* CONTADOR DE VISTAS  */

.visitas h4{
    color: #1f96db !important;
    /* padding-top: 20px; */
}

.visitas .glyphicon{
    top: 3px;
}


/* BTN BUSCAR HOME */
.homebutton .principal .btn-group-lg > .btn, .btn-lg {
    padding: 5px 3px !important;
    font-size: 18px;
    line-height: 1.333;
    border-radius: 13px;
    /* background-color: transparent !important; */
    border-color: #fff !important;
    color: #fff !important ;
    font-weight: bold !important;
    opacity: 0.6;
}

a:focus, a:hover {
    text-decoration: none !important;
}

