<div class="col-lg-6 col-lg-offset-3">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-danger" *ngIf="status == 'error'">
       No se proceso la petcion, revisa tus datos e intenta de nuevo
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Correo</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />

    </form>
</div>

