<div class="navigation col-lgl12 ">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  [routerLink]="['/home']" [routerLinkActive]="['active']" class="navbar-brand"><img src="assets/logo/Logokub.png" alt="ecocommerce"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" *ngIf="identity">
          <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
          </li>
          <li>
          <a [routerLink]="['/invite']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Invitar +
          </a>
          </li>
          <li>
          <a [routerLink]="['/role']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-tag"></span>
            Roles
          </a>
          </li>
          <li>
          <a [routerLink]="['/mis-datos']" *ngIf="!identity.state">
            <span class="glyphicon glyphicon-cog"></span>
            Cuenta
          </a>
          </li>
        </ul>
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>

        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Registro
          </a>
        </li>   
      </ul>
      
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <img src="{{ url + 'get-image-user/' + identity.img }}" *ngIf="identity && identity.img"/>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li *ngIf="identity">
                <a [routerLink]="['/mis-datos']">
                  <span class="glyphicon glyphicon-cog"></span>
                  Mis datos
                </a>
            </li>

            <li>
                <a class="pointer" (click)="logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Cerrar Sesión
                </a>
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>