img{
    height: 40px;
    width: 40px;
}


#imgediv img{
    display:block;
    margin:auto;
    height: 400px;
    width: 400px;
    position:absolute;
}

#text{
    position:absolute;
}

#imediv .h1{
    text-align: center;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

