<div class="col-lg-6 col-lg-offset-3"  >
    <div class="alert alert-success" *ngIf="status == 'success'">
        Te has identificado correctamente.
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Error verifica tus datos...
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-lg-12">
        <p>
            <label>Correo</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                Correo electronico Incorrecto...!!
            </span>
        </p>

        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                La Contraseña es obligarorio!!
            </span>
        </p>
        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!loginForm.form.valid" />
        &nbsp;
        <span>
            <div style="text-align: right;">
            <a [routerLink]="['/forgot']"> Olvidé mi contraseña</a>
        </div>
        </span>
        
    </form>
</div>
