<div class="col-lg-12">
        <div class="alert alert-success" *ngIf="status == 'success'">
            Se actualizaron los datos correctamente
        </div>
        
         <div class="alert alert-danger" *ngIf="status == 'error'">
            No se actualizaron los datos
        </div>        

        <form #userFormPass="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
            <p>
                    <label>Nueva Contraña</label>
                    <input type="text" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
                    <span *ngIf="!password.valid && password.touched">
                        Contraña es obligaroria!!
                    </span>
                </p>

                    <input type="submit" value="Actualizar Contraña" class="btn btn-warning" [disabled]="!userFormPass.form.valid" />
            
        </form>
</div>