<div class="col-lg-6 col-lg-offset-3">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        La invitacion se enviado correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        La invitacion no se ha se enviado correctamente, intenta en otro momento
    </div>
    <form #inviteForm="ngForm" (ngSubmit)="onSubmit(inviteForm)" class="col-lg-12">
        <p>
            <label>Correo</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="invitation.email" class="form-control" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <p>
            <label>Role</label>
            <select  *ngIf="roles" class="form-control" name="role" #role="ngModel" [(ngModel)]="invitation.role" required >
                <option  *ngFor="let role of roles"  value="{{role._id}}"> {{role.name}} </option>
            </select>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!inviteForm.form.valid" />
    </form>
</div>

