<div id="publications">
    <div *ngFor="let user of users" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-user pull-left">
                    <img src="{{ url +'get-image-user/' + user.img }}" *ngIf="user.img" />
                    <img src="assets/companie.png" *ngIf="!user.img" />
                </div>
                <div>
                    <span class="user-name" *ngIf="identity">
						{{user.name}}
					</span>
					<p>{{user.role.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

