<div class="pull-right">
    &nbsp;
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#guardar" role="button" class="btn btn-large btn-success" data-toggle="modal">
        <h3>Nuevo</h3>
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div id="publications" class="col-lg-6 col-lg-offset-3">
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Opcion</th>
          </tr>
        </thead>
        <tbody *ngFor="let role of roles">
          <tr *ngIf="role.status == 'ACTIVE'">
            <td>{{role.name}}</td>
            <td>{{ role.description}}</td>
            <td>{{ role.status }}</td>
            <td>
                <a href="#myModal{{role._id}}" role="button" class="btn btn-large btn-danger" data-toggle="modal">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
          </tr>
          <!-- Modal HTML ELIMINAR -->
			<div id="myModal{{role._id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Seguro que quieres eliminar el role {{role.name}}?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Si la borras no podras recuperla</p>
                                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" (click)="deleteRole(role._id)" data-dismiss="modal">Borrar</button>
                            </div>
                        </div>
                    </div>
            </div>
        </tbody>
    </table>

    <!-- Modal HTML GUARDAR -->
    <div id="guardar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)" class="col-lg-12">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="roleSave.name" class="form-control" required />
                        <span *ngIf="!name.valid && name.touched">
                            El nombre es obligarorio!!
                        </span>  
                    </p>

                    <p>
                        <label>Descripción</label>
                        <input type="text" name="description" #description="ngModel" [(ngModel)]="roleSave.description" class="form-control" required />
                        <span *ngIf="!description.valid && description.touched">
                            La descripción es obligarorio!!
                        </span>  
                    </p>                   
                </form>
                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="!saveForm.form.valid" (click)="onSubmit(saveForm)" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
    </div>
</div>

