<div class="col-lg-8 col-lg-offset-2">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
            Se actualizaron los datos correctamente
    </div>
        
    <div class="alert alert-danger" *ngIf="status == 'error'">
            No se actualizaron los datos
    </div>        

    <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-8 col-lg-offset-2">
                
        <div class="avatarUp"  *ngIf="user.image">
            <img src="{{ url + 'get-image-user/' + user.image }}" />
        </div>
        <p>
            <label>Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <p>
            <label>Apellido</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
                El Apellido es obligarorio!!
            </span>
        </p>
            
        <p>
            <label>Correo</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                El nombre es obligarorio!!
            </span>
        </p>

        <p>
            <label>Sube tu avatar</label>
            <input type="file" placeholder="Subir imagen " (change)="fileChangeEvent($event)"/>
        </p>  
        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!userForm.form.valid" />
    </form>        
</div>